#videoAnnotator .annotation-video {
    max-width: 100%!important;
}
#videoAnnotator .matrix-editor{
    display: inline-block;
    position:relative;
}
#videoAnnotator .matrix-editor .annotation-video{
    max-width: 100%!important;
}
#videoAnnotator .matrices{
    position: absolute;
    z-index: 11;
    width:100%;
    height:100%;
}
#videoAnnotator .matrix-hidden{
  opacity: 0;
}
#videoAnnotator [matrix-id]:hover{
  opacity: 1;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

*:fullscreen .card-body{overflow:auto;}
