<div class="card shadow mb-4 fullscreen-target" id ="matrixEditorWindow">
    <div class="unfullscreen">
        <div class="icon icon-sm icon-shape bg-gradient-danger rounded-circle text-white">
            <i class="fa fa-times"></i>
        </div>
    </div>
    <div class="card-header dropdown">
        <a data-toggle="dropdown" role="button">
            <h5 class="m-0 epic-text text-left"><%- lang['Image Manager'] %> <span class="badge badge-sm badge-primary pull-right">&nbsp;<i class="fa fa-bars"></i></span></h5>
            <div class="dropdown-menu dropdown-menu-xl">
             <div class="dropdown-menu-inner">
                 <% [
                     {
                         title: lang['Add Matrix'],
                         text: lang.matrixEditorText,
                         type: 'info',
                         icon: 'plus',
                         class: 'addMatrix'
                     },
                     {
                         title: lang['Load Local Images'],
                         text: lang.loadLocalImagesText,
                         type: 'danger',
                         icon: 'photo',
                         class: 'loadLocalImages'
                     },
                     {
                         title: lang['Build Image Annotations'],
                         text: lang.buildImageAnnotationsText,
                         type: 'success',
                         icon: 'gears',
                         class: 'createAnnotationFiles'
                     },
                     {
                         title: lang['Download OpenImages'],
                         text: lang.downloadOpenImagesText,
                         type: 'info',
                         icon: 'download',
                         class: 'openImagesDownloadButton startOpenImagesDownload'
                     },
                     {
                         title: lang['Engine Status'],
                         text: lang.statusWindowText,
                         type: 'warning',
                         icon: 'exclamation-triangle',
                         attribute: 'data-toggle="modal" data-target="#statusWindow"'
                     },
                     {
                         title: lang['Fullscreen'],
                         text: lang.fullscreenText,
                         type: 'primary',
                         icon: 'expand',
                         class: 'fullscreen-element'
                     }
                 ].forEach(function(contents){ %>
                     <a class="<%- contents.class %> media d-flex align-items-center pt-2 pb-2 pl-4 pr-4" <%- contents.attribute %>>
                         <div class="icon icon-shape bg-gradient-<%- contents.type %> rounded-circle text-white">
                             <i class="fa fa-<%- contents.icon %>"></i>
                           </div>
                           <div class="media-body ml-3">
                             <h5 class="heading text-<%- contents.type %> mb-md-1"><%- contents.title %></h5>
                             <p class="description d-none d-md-inline-block mb-0"><%- contents.text %></p>
                           </div>
                       </a>
                 <% }) %>
             </div>
           </div>
        </a>
    </div>
    <div class="card-body">
        <div class="row mb-4 text-light">
            <div class="col-12">
                <small><%- lang.matrixEditorText %></small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                  <div class="dropzone-container text-center p-5">
                      <h3 class="dropzone-message text-muted epic-text"><%- lang['Drop JPEG Images Here'] %></h3>
                      <div id="dropUploadArea"></div>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="images_search_found output_data" style="max-height:400px"></div>
              </div>
              <div class="col-md-12">
                  <div class="matrix-editor">

                  </div>
              </div>
          </div>
      </div>
  </div>
  <script src="/libs/js/trainNeuralNet.imageManager.js"></script>
