<div class="card shadow mb-4 fullscreen-target" id="imageSearchWindow">
    <div class="unfullscreen">
        <div class="icon icon-sm icon-shape bg-gradient-danger rounded-circle text-white">
            <i class="fa fa-times"></i>
        </div>
    </div>
    <div class="card-header dropdown">
        <a data-toggle="dropdown" role="button">
            <h5 class="m-0 epic-text text-left"><i class="fa fa-search"></i> <%- lang['Search Images Online'] %></h5>
        </a>
    </div>
    <div class="card-body">
        <div class="row<% if(config.pixaBayApiKey){ %> mb-2<% } %> text-light">
            <div class="col-12">
                <small><% if(!config.pixaBayApiKey){ %><%- lang.imageSearchMissingApiKey + ' ' %><% } %><%- lang.whyPixabay %></small>
            </div>
        </div>
        <% if(config.pixaBayApiKey){ %>
        <div class="row images_search">
            <div class="col-6">
                <div class="form-group">
                    <small class="epic-text mb-2 text-left d-block"><%-lang['Search Images']%></small>
                    <input type="text" class="form-control form-control-sm images_search_field" placeholder="<%-lang.Search%>" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <small class="epic-text mb-2 text-left d-block"><%-lang.trainNeuralNetImageSearchLimit%></small>
                    <input type="text" class="form-control form-control-sm images_search_limit" placeholder="20" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="images_search_found output_data" style="max-height:400px"></div>
            </div>
        </div>
        <% } %>
      </div>
  </div>
  <% if(config.pixaBayApiKey){ %>
  <script src="/libs/js/trainNeuralNet.imageSearch.js"></script>
  <% } %>
