<%
const presetYoloOptions = {
  bigGpuLessAccurate: {
    name: lang['Big GPU - Less Accurate (8 GB or More)'],
    value: "bigGpuLessAccurate",
    options: [
      {
        name: "batch",
        value: "64"
      },
      {
        name: "subdivisions",
        value: "16"
      },
      {
        name: "width",
        value: "416"
      },
      {
        name: "height",
        value: "416"
      },
      {
        name: "maxBatchesBase",
        value: "5000"
      }
    ]
  },
  bigGpuMoreAccurate: {
    name: lang['Big GPU - More Accurate (8 GB or More)'],
    value: "bigGpuMoreAccurate",
    options: [
      {
        name: "batch",
        value: "64"
      },
      {
        name: "subdivisions",
        value: "16"
      },
      {
        name: "width",
        value: "832"
      },
      {
        name: "height",
        value: "832"
      },
      {
        name: "maxBatchesBase",
        value: "10000"
      }
    ]
  },
  smallGpuLessAccurate: {
    name: lang['Small GPU - Less Accurate (4 GB or More)'],
    value: "smallGpuLessAccurate",
    options: [
      {
        name: "batch",
        value: "32"
      },
      {
        name: "subdivisions",
        value: "32"
      },
      {
        name: "width",
        value: "206"
      },
      {
        name: "height",
        value: "206"
      },
      {
        name: "maxBatchesBase",
        value: "2500"
      }
    ]
  },
  smallGpuMoreAccurate: {
    name: lang['Small GPU - More Accurate (4 GB or More)'],
    value: "smallGpuMoreAccurate",
    options: [
      {
        name: "batch",
        value: "32"
      },
      {
        name: "subdivisions",
        value: "32"
      },
      {
        name: "width",
        value: "416"
      },
      {
        name: "height",
        value: "416"
      },
      {
        name: "maxBatchesBase",
        value: "5000"
      }
    ]
  }
}
%>
<script>var presetYoloOptions = <%- JSON.stringify(presetYoloOptions) %></script>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow border-0">
              <div class="card-header border-0">
                  <h5 class="m-0 epic-text text-left"><%- lang['Trainer Options'] %></h5>
              </div>
              <div class="card-body py-3">
                  <div class="mb-4">
                      <div class="form-group">
                          <small class="epic-text mb-2 text-left d-block"><%- lang['Darknet Base'] %></small>
                          <select class="form-control form-control-lg" yolo-option="darknetBase">
                              <% config.darknetBase.forEach(function(base){ %>
                                  <option value="<%- base %>"><%- base %></option>
                              <% }) %>
                          </select>
                      </div>
                      <div class="trainer_engine_input trainer_engine_yolo3">
                          <div class="form-group">
                              <small class="epic-text mb-2 text-left d-block"><%- lang.GPU || 'GPU' %></small>
                              <select class="form-control form-control-lg" yolo-option="gpus" multiple>
                                  <% gpus.forEach((gpu) => { %>
                                      <option value="<%- gpu.id %>" <%- gpu.id == 0 ? 'selected' : '' %>><%- gpu.name %> (#<%- gpu.id %>)</option>
                                  <% }) %>
                              </select>
                          </div>
                          <div class="form-group">
                              <small class="epic-text mb-2 text-left d-block"><%- lang.Preset %></small>
                              <select class="form-control form-control-lg" id="presetYoloOptions">
                                  <option value="" selected><%- lang['No Preset'] %></option>
                                  <% Object.values(presetYoloOptions).forEach(function(option){ %>
                                      <option value="<%- option.value %>"><%- option.name %></option>
                                  <% }) %>
                              </select>
                          </div>
                          <div class="form-group">
                              <div class="row">
                                  <% [
                                        {
                                            name: lang.Batch,
                                            option: 'batch',
                                            placeholder: 64,
                                        },
                                        {
                                            name: lang.Subdivision,
                                            option: 'subdivisions',
                                            placeholder: 64,
                                        },
                                    ].forEach(function(field){ %>
                                        <div class="col-md-6">
                                            <small class="epic-text mb-2 text-left d-block"><%- field.name %></small>
                                            <input yolo-option="<%- field.option %>" type="text" class="form-control form-control-lg" placeholder="<%- field.placeholder %>" />
                                        </div>
                                  <% }) %>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="row">
                                  <% [
                                      {
                                          name: lang.Width,
                                          option: 'width',
                                          placeholder: config.darknetBaseWidth,
                                      },
                                      {
                                          name: lang.Height,
                                          option: 'height',
                                          placeholder: config.darknetBaseHeight,
                                      },
                                    ].forEach(function(field){ %>
                                        <div class="col-md-6">
                                            <small class="epic-text mb-2 text-left d-block"><%- field.name %></small>
                                            <input yolo-option="<%- field.option %>" type="text" class="form-control form-control-lg" placeholder="<%- field.placeholder %>" />
                                        </div>
                                  <% }) %>
                              </div>
                          </div>
                          <% [
                                {
                                    name: lang.maxBatchesPerClass,
                                    option: 'maxBatchesBase',
                                    placeholder: 2000,
                                },
                                {
                                    name: lang.Classes || "Classes",
                                    option: 'classes',
                                    placeholder: "",
                                }
                            ].forEach(function(field){ %>
                              <div class="form-group">
                                  <small class="epic-text mb-2 text-left d-block"><%- field.name %></small>
                                  <input yolo-option="<%- field.option %>" type="text" class="form-control form-control-lg" placeholder="<%- field.placeholder %>" />
                              </div>
                          <% }) %>
                          <% if(config.userHasSubscribed){ %>
                          <div class="form-group">
                              <small class="epic-text mb-2 text-left d-block"><%- lang['OpenImages Base'] %></small>
                              <select class="form-control form-control-lg" yolo-option="imageBase">
                                  <option value="v5">V5</option>
                                  <option value="v4" selected>V4</option>
                              </select>
                          </div>
                          <% } %>
                      </div>
                  </div>
                  <% [
                      {
                          title: lang['Download OpenImages'],
                          text: lang.downloadOpenImagesText,
                          type: 'info',
                          icon: 'download',
                          class: 'openImagesDownloadButton startOpenImagesDownload'
                      },
                      {
                          title: lang['Start Training'],
                          text: lang.trainText,
                          type: 'success',
                          icon: 'play',
                          class: 'trainingButton startTraining'
                      }
                  ].forEach(function(contents){ %>
                      <a class="<%- contents.class %> media d-flex align-items-center" <%- contents.attribute %>>
                          <div class="icon icon-shape bg-gradient-<%- contents.type %> rounded-circle text-white">
                              <i class="fa fa-<%- contents.icon %>"></i>
                            </div>
                            <div class="media-body ml-3">
                              <h5 class="heading text-<%- contents.type %> mb-md-1"><%- contents.title %></h5>
                              <p class="description d-none d-md-inline-block mb-0"><%- contents.text %></p>
                            </div>
                        </a>
                  <% }) %>
              </div>
            </div>
        </div>
        <div class="col-md-8">
            <% include basicMatrixMapper.ejs %>
            <% include imageSearch.ejs %>
            <% include videoAnnotator.ejs %>
        </div>
    </div>
</div>
