<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="../index.html">
        <img src="/libs/img/brand/white.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
                <img src="/libs/img/brand/blue.png">
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Menu</span>
            </a>
            <div class="dropdown-menu dropdown-menu-xl">
              <div class="dropdown-menu-inner">
                <% [
                    {
                        title: lang['Engine Status'],
                        text: lang.statusWindowText,
                        type: 'warning',
                        icon: 'exclamation-triangle',
                        attribute: 'data-toggle="modal" data-target="#statusWindow"'
                    },
                    {
                        title: lang['Configuration'],
                        text: lang.ConfigurationText,
                        type: 'danger',
                        icon: 'gears',
                        attribute: 'data-toggle="modal" data-target="#configurationEditor"'
                    },
                    {
                        title: lang['Build Darknet Configuration'],
                        text: lang.buildDarknetConfigurationText,
                        type: 'info',
                        icon: 'gear',
                        class: 'createDarknetCfg'
                    },
                    {
                        title: lang['Start Training'],
                        text: lang.trainText,
                        type: 'success',
                        icon: 'play',
                        class: 'trainingButton startTraining'
                    },
                    {
                        title: lang['Build Models'],
                        text: lang.buildModelsText,
                        type: 'primary',
                        icon: 'cube',
                        class: 'buildModels'
                    }
                ].forEach(function(contents){ %>
                    <a class="<%- contents.class %> media d-flex align-items-center" <%- contents.attribute %>>
                        <div class="icon icon-shape bg-gradient-<%- contents.type %> rounded-circle text-white">
                            <i class="fa fa-<%- contents.icon %>"></i>
                          </div>
                          <div class="media-body ml-3">
                            <h5 class="heading text-<%- contents.type %> mb-md-1"><%- contents.title %></h5>
                            <p class="description d-none d-md-inline-block mb-0"><%- contents.text %></p>
                          </div>
                      </a>
                <% }) %>
              </div>
            </div>
          </li>
        <% [
            {
                title: lang.Shinobi,
                icon: 'home',
                attribute: 'href="https://shinobi.video" target="_blank"'
            },
            config.userHasSubscribed ? null : {
                title: lang['Byaku Pro'],
                icon: 'shopping-cart',
                attribute: 'href="https://licenses.shinobi.video/subscribe" target="_blank"'
            },
            {
                title: lang['Engine Status'],
                icon: 'exclamation-triangle',
                attribute: 'data-toggle="modal" data-target="#statusWindow"'
            },
            {
                title: lang.Logs,
                icon: 'exclamation-circle',
                attribute: ` system=openLogs`
            }
        ].forEach(function(contents){ if(!contents)return; %>
            <li class="nav-item">
              <a class="nav-link <%- contents.class %>" <%- contents.attribute %>>
                <i class="fa fa-<%- contents.icon %>"></i>
                <span class="nav-link-inner--text"><%- contents.title %></span>
              </a>
            </li>
        <% }) %>
        </ul>
      </div>
    </div>
  </nav>
</header>
