<div class="modal fade" id="statusWindow" tabindex="-1" role="dialog" aria-labelledby="statusWindowLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-slideout" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statusWindowLabel"><i class="fa fa-exclamation-triangle"></i> &nbsp; <%-lang['Engine Status']%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-12">
                  <h5 class="epic-text text-left mb-2 mt-2 col-12"><%- lang['Recently Created Darknet Configuration'] -%></h5>
                  <div class="output_data createDarknetCfg_output" style="max-height: 280px;"></div>
                  <h5 class="epic-text text-left mb-2 mt-2 col-12"><%- lang['Darknet System Information'] -%></h5>
                  <div id="loss-chart"></div>
                  <div class="output_data training_error" style="max-height: 280px;"></div>
                  <div class="output_data parsed_data list-group mb-2 mt-2" style="max-height: 280px;"></div>
                  <h5 class="epic-text text-left mb-2 mt-2 col-12"><%- lang['Positive Runs'] -%></h5>
                  <div class="output_data good list-group" style="max-height: 280px;"></div>
                  <h5 class="epic-text text-left mb-2 mt-2 col-12"><%- lang['OpenImages Downloader'] -%></h5>
                  <div class="output_data openImagesDownload_output" style="max-height: 280px;"></div>
                  <h5 class="epic-text text-left mb-2 mt-2 col-12"><%- lang['OpenImages Found'] -%></h5>
                  <div class="images_search_found output_data" style="max-height:280px"></div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">&nbsp;<i class="fa fa-times"></i> <%-lang.Close%>&nbsp;</button>
      </div>
    </div>
  </div>
</div>
