<div class="card shadow fullscreen-target" id ="videoAnnotator">
    <div class="unfullscreen">
        <div class="icon icon-sm icon-shape bg-gradient-danger rounded-circle text-white">
            <i class="fa fa-times"></i>
        </div>
    </div>
    <div class="card-header dropdown">
        <a data-toggle="dropdown" role="button">
            <h5 class="m-0 epic-text text-left"><%- lang['Video Annotator'] %><span class="badge badge-sm badge-primary pull-right">&nbsp;<i class="fa fa-bars"></i></span></h5>
            <div class="dropdown-menu dropdown-menu-xl">
             <div class="dropdown-menu-inner">
                 <% [
                 {
                     title: lang['Upload Frames'],
                     text: lang.uploadFramesText,
                     type: 'success',
                     icon: 'check',
                     class: 'saveMatrices'
                 },
                 {
                     title: lang['Engine Status'],
                     text: lang.statusWindowText,
                     type: 'warning',
                     icon: 'exclamation-triangle',
                     attribute: 'data-toggle="modal" data-target="#statusWindow"'
                 },
                 {
                     title: lang['Fullscreen'],
                     text: lang.fullscreenText,
                     type: 'info',
                     icon: 'expand',
                     class: 'fullscreen-element'
                 }
                 ].forEach(function(contents){ %>
                     <a class="<%- contents.class %> media d-flex align-items-center pt-2 pb-2 pl-4 pr-4" <%- contents.attribute %>>
                         <div class="icon icon-shape bg-gradient-<%- contents.type %> rounded-circle text-white">
                             <i class="fa fa-<%- contents.icon %>"></i>
                           </div>
                           <div class="media-body ml-3">
                             <h5 class="heading text-<%- contents.type %> mb-md-1"><%- contents.title %></h5>
                             <p class="description d-none d-md-inline-block mb-0"><%- contents.text %></p>
                           </div>
                       </a>
                 <% }) %>
             </div>
           </div>
        </a>
    </div>
  <div class="card-body">
      <div class="row mb-4 text-light">
          <div class="col-12">
              <small><%- lang.videoAnnotatorText %></small>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="matrix-editor-container" style="border: 1px solid #eee;margin-bottom: 15px;border-radius: 5px;">
                  <!-- <div class="matrix-editor-play-button icon icon-shape bg-gradient-primary rounded-circle text-white">
                      <i class="fa fa-play"></i>
                  </div> -->
                  <div class="matrix-editor">

                  </div>
              </div>
              <div class="row">
                  <div class="col-3 text-center">
                      <a class="playPause">
                          <div class="icon icon-sm icon-shape bg-gradient-danger rounded-circle text-white" title="<%- lang.Play %>">
                              <i class="fa fa-play"></i>
                          </div>
                      </a>
                      <a class="resetVideoTime">
                          <div class="icon icon-sm icon-shape bg-gradient-warning rounded-circle text-white" title="<%- lang.Rewind %>">
                              <i class="fa fa-refresh"></i>
                          </div>
                      </a>
                      <a class="addMatrix">
                          <div class="icon icon-sm icon-shape bg-gradient-info rounded-circle text-white" title="<%- lang['Add Matrix'] %>">
                              <i class="fa fa-plus"></i>
                          </div>
                      </a>
                  </div>
                  <div class="col pl-0">
                      <div class="seekbar"><span></span></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div id="nav-pills-tabs-component" class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="nav-pills-tabs-component-tab">
              <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="false"><%- lang['Upload an MP4 Video'] %></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="true"><%- lang['Remote Link'] %></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><%- lang['Shinobi Videos'] %></a>
                  </li>
                </ul>
              </div>
              <div class="card">
                <div class="card-body p-1">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                        <div class="upload-btn-wrapper">
                            <button class="btn btn-primary btn-block"><%- lang['Upload an MP4 Video'] %></button>
                            <input type="file" id="videoAnnotatorDropUploadArea">
                        </div>
                    </div>
                    <div class="tab-pane fade active show" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                        <div class="form-group mb-0">
                            <input class="form-control" id="videoAnnotatorRemoteUrlInput" placeholder="<%- lang['Remote Link'] %>">
                        </div>
                    </div>
                    <div class="tab-pane fade p-2" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                        <div class="form-group">
                            <input class="form-control" id="videoAnnotatorShinobiUrlInput" placeholder="<%- lang['Videos API Link'] %>">
                        </div>
                        <div class="card">
                            <div class="table-responsive" style="max-height:400px">
                              <table class="table align-items-center table-flush mb-0" id="videoAnnotatorShinobiVideos">
                                <tbody></tbody>
                              </table>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
 </div>
<link href="/libs/css/trainNeuralNet.videoAnnotator.css" rel="stylesheet">
<script src="/libs/js/trainNeuralNet.videoAnnotator.js"></script>
