<% include blocks/header.ejs %>
<body id="trainNeuralNet">
    <% if(!config.userHasSubscribed){ %><a href="https://licenses.shinobi.video/subscribe" target="_blank" class="corner-ribbon top-right sticky red epic-text m-0" style="color:#fff">Unlicensed</a><% } %>
    <script>$user = <%- JSON.stringify(user) %></script>
    <script>userHasSubscribed = <%- JSON.stringify(config.userHasSubscribed) %></script>
    <% include blocks/menu.ejs %>
  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-primary">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
        <% include blocks/mainTrainerElements.ejs %>
    </section>
  </main>
<% include blocks/statusWindow.ejs %>
<% include blocks/configurationEditor.ejs %>
<% include blocks/confirm.ejs %>
<% include blocks/footer.ejs %>
