<% include blocks/header.ejs %>
<body class="bg-default">
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white"><%- config.webPageWelcomeTitle %></h1>
              <p class="text-lead text-light"><%- config.webPageWelcomeMessage %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small><% if(window.loginFailed === true){ %>Username, Email, or Password is incorrect.<% } %></small>
              </div>
              <form role="form" action="/" method="POST">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Username / Email" type="text" name="name">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" name="pass">
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" name="rememberme" value="1" id="customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for="customCheckLogin">
                    <span class="text-muted">Remember me</span>
                  </label>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 text-center">
              <a href="/forgot" class="text-light"><small>Forgot password?</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="/libs/vendor/jquery/jquery.min.js"></script>
    <script src="/libs/js/argon.min.js?v=1.0.0"></script>
    <script src="/libs/vendor/jquery.serializeObject.min.js"></script>
    <script>
      $(document).ready(function(){
          var formEl = $('form')
          var vlRememberMe = JSON.parse(localStorage.getItem('vlRememberMe')) || {}
          if(vlRememberMe.name && vlRememberMe.pass){
              formEl.find('[name="name"]').val(vlRememberMe.name)
              formEl.find('[name="pass"]').val(vlRememberMe.pass)
              formEl.submit()
          }
          formEl.submit(function(){
              var form = $(this).serializeObject()
              if(form.rememberme === '1'){
                  localStorage.setItem('vlRememberMe',JSON.stringify(form))
              }
          })
      })
  </script>
</body>

</html>
